* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.header {
    background-color: rgb(88, 47, 47);
    padding: 20px;
}